{% extends 'nav_bar.html' %}

{% block content %}
<div class="header_grid"> 
    <div class="header_text">
        <h1 class="headerh1">What Up</h1>
        <h1 class="headerh1">Car Lovers!!!</h1>
        <h4>Do you like cars!?</h4>
        <h4>Do you like coding!?</h4> 
        <h4>If so! You're gonna love our API!!</h4> 
        <button class="btn btn-primary">Sign Up</button>
    </div>
    <div class="header">
        <img src="../static/images/undraw_vehicle_sale_a645.svg" alt="vehicle sale" id="vehicle-sale">
    </div>
</div>   

<div class="our_api">
    <div>
        <img src="../static/images/undraw_towing_-6-yy4.svg" alt="tow" id="tow">
    </div>
    <div class="our_api_text">
        <p>- This is what we do</p>
        <p>- love cars, make apis</p>
        <p>- put it in a database</p>
        <p>- DONE</p>
        <p>- ez pz</p>
        <button class="btn btn-primary">Here's a button</button>
    </div>

</div>

<footer id="footer">
    <div class="footer-image" id="footer-logo">
        <img src="../static/images/undraw_city_driver_re_0x5e.svg" alt="city driver" id="city-driver">
    </div>
    <div class="footer-text" id="footer-text">
        <p>Support</p>
        <p>Reviews</p>
        <p>Our Team</p>
        <p>Careers</p>
        <p>Contact Us</p>
    </div>
    <div class="footer-text" id="footer-text">
        <p>API docs</p>
        <p>Prices</p>
        <p>Sign up</p>
        <p>Sign in</p>
        <p>Donate</p>
    </div>
    <div class="footer-text" id="footer-text">
        <p>API docs</p>
        <p>Prices</p>
        <p>Sign up</p>
        <p>Sign in</p>
        <p>Donate</p>
    </div>
</footer>

{% endblock content %}